/* Always started with this template, not rly sure what it does but it works, feel free to change it. */
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300&display=swap');

/* Instead of typing body{} here, we can add different body id's to different pages to change their appearance. */
/* Currently using this technique to just change background */
#login-page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(BG.jpg) 50% 50%;
    background-size: cover;
    display: table;
}

#main-page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(White-BG.jpg) 50% 50%;
    background-size: cover;
    display: table;
}

#weekly-page {
    margin: 0;  
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(AdobeStock_210391244.jpeg) 100% 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#mainMeal-page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(image.jpg) 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signin {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.signin h2 {
    margin-top: 0px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: lighter;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

/*  ================== Text boxes ==================== */
.signin form input {
    display: block;
    width: 320px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: Source Sans Pro, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #fff;
    /* margin-top: -10px; */
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 15px;
    transition: 0.25s;
}

.signin input[type="text2"] {
    margin: auto;
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
}

/* Chrome only i think */
.signin input::-webkit-input-placeholder {
    color: #fff;
}

.signin input:focus::-webkit-input-placeholder {
    color:#999;
}

.signin input:focus {
    border: 1px solid rgba(255, 255, 255, 1);
}

/* ===== END ===== */
/* Buttons */

.signin form input[type="submit"], .workout form input[type="submit"] {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.7);
    font-weight: lighter;
    color: #fff;
    border: 0px;
    border-radius: 15px;
    margin: auto;
    cursor: pointer;
    transition: 0.25s;
}

.signin form input[type="submit"]:hover,.workout form input[type="submit"]:hover {
    border: 1px solid #000;
    border-radius: 20px;
    background: #fff;
    color: #000;
}

.signin form input[value="Log In"] {
    margin-bottom: 10px;
}

 /* =================== END OF LOGIN/SIGNUP CSS ========== */

#workout-page{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* background: grey; */
    /*background: url(BG.jpg) 50% 50%; /* We can change this later */
    background-size: cover;
    /* display: table; */
    display: block;
}

#workout-page h2{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.workout-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50.025%);
    background: url(BG2.jpg) 50% 50%; /* We can change this later */
    background-size: cover;
}

.workout {
    width: 800px;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.5);
 }

 /* .workout form{
    display: inline-block;
 } */

 .workout h2 {
    margin-top: 0px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 50px;
    text-align: center;
}

.workout h3 {
    margin-top: 30%;
    font-family: Source Sans Pro, sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 50px;
    text-align: center;
}

.workout form input{
    text-align: left;
    display: block;
    width: 600px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;

    background: rgba(0, 0, 0, 0.3);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: Source Sans Pro, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #fff;        margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 15px;
    transition: 0.25s;
 }

 .workout form input::-webkit-input-placeholder{
    color: white;
    text-align: center;
 }

 .workout form input:focus::-webkit-input-placeholder{
     color: #444;
 }

.workout form label{
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-family: Source Sans Pro, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

 .workout form .date-picker input{
    padding: 0%;
    text-align: center;
    width: 100px;
 }

 .workout form label, .workout form .date-picker input {
    margin-left: 100px;
 }

.workout form input[type="submit"]{
    margin-bottom: 15px;
}

.workout form .button-exercise{
    margin-left: 100px;
}

.modal-content form input{
    display: block;
    /* margin: auto;    */
}

.view-workout {
    display: flex;
}

.view-workout label {
    /* background: blue; */
    padding-top: 8px;
    padding-left: 60px;
    margin-right: -90px;
    font-size: 20px;
}